html, body {
  max-width: 100%;
  overflow-x: hidden;
  user-select: none; }

.content-plate .content .info-2, .content-plate .content .info-4 {
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  color: white;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
  transition: all 300ms ease-in-out; }

.content-plate .content .info-1 .basics-1 .top-info, .content-plate .content .info-1 .basics-1 .bottom-info {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px; }
  .content-plate .content .info-1 .basics-1 .top-info h1, .content-plate .content .info-1 .basics-1 .bottom-info h1 {
    font-size: 2em;
    text-decoration: underline; }
  .content-plate .content .info-1 .basics-1 .top-info p, .content-plate .content .info-1 .basics-1 .bottom-info p {
    font-size: 1.5em; }
  @media screen and (max-width: 600px) {
    .content-plate .content .info-1 .basics-1 .top-info, .content-plate .content .info-1 .basics-1 .bottom-info {
      width: 100%;
      margin-top: 10px; }
      .content-plate .content .info-1 .basics-1 .top-info h1, .content-plate .content .info-1 .basics-1 .bottom-info h1 {
        font-size: 1.5em; }
      .content-plate .content .info-1 .basics-1 .top-info p, .content-plate .content .info-1 .basics-1 .bottom-info p {
        font-size: 1em; } }

.active {
  color: #fff;
  text-shadow: 0px 0px 6px white; }

.nav-bar {
  height: 50px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center; }
  .nav-bar .nav {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: center; }
    .nav-bar .nav ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .nav-bar .nav ul a {
        text-decoration: none;
        color: #fff;
        height: 50px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease-in-out;
        font-size: 2em; }
        .nav-bar .nav ul a:hover {
          color: #666;
          font-size: 2.1em; }

.container {
  width: 92vw;
  margin: 0 4vw; }

.content-plate {
  height: 100%;
  width: 100vw;
  background-image: url("imgs/mountains.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 650px) {
    .content-plate {
      height: 100%; } }
  .content-plate .headline {
    height: 12%;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box; }
    .content-plate .headline h1 {
      font-size: 50px;
      margin: auto; }
    .content-plate .headline p {
      font-size: 2em;
      margin-top: 5px; }
  .content-plate .content .info-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; }
    @media screen and (max-width: 650px) {
      .content-plate .content .info-1 {
        flex-direction: column; } }
    .content-plate .content .info-1 .basics-1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 0px; }
      @media screen and (max-width: 600px) {
        .content-plate .content .info-1 .basics-1 {
          flex-direction: column; } }
    .content-plate .content .info-1 .name {
      height: auto;
      width: auto;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      display: flex;
      justify-content: center; }
      .content-plate .content .info-1 .name h1 {
        font-size: 3em;
        text-decoration: underline; }
      .content-plate .content .info-1 .name p {
        font-size: 2em;
        margin-left: 20px;
        margin-top: 14px; }
    .content-plate .content .info-1 .base-info {
      display: flex;
      justify-items: space-between;
      padding: 20px 0px; }
      .content-plate .content .info-1 .base-info ul {
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%; }
        .content-plate .content .info-1 .base-info ul li {
          padding: 2px 1px;
          box-sizing: border-box;
          width: 100%; }
          .content-plate .content .info-1 .base-info ul li h1 {
            font-size: 1.2em;
            text-decoration: underline; }
  .content-plate .content .info-2:hover {
    height: auto; }
    .content-plate .content .info-2:hover p {
      color: white; }
  .content-plate .content .info-2 h1 {
    font-size: 3em;
    margin-bottom: 10px; }
  .content-plate .content .info-2 p {
    color: transparent;
    transition: all 400ms ease-in-out; }
  .content-plate .content .info-2 a {
    text-decoration: none;
    color: white; }
  .content-plate .content .info-2 span {
    color: red; }
  .content-plate .content .info-3 {
    text-align: center;
    padding: 20px 0px; }
    .content-plate .content .info-3 .backstory {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 5px; }
      .content-plate .content .info-3 .backstory h1 {
        font-size: 3em;
        margin-bottom: 20px; }
      .content-plate .content .info-3 .backstory p {
        text-align: left; }
    .content-plate .content .info-3 .proficiency {
      padding: 3px;
      background-color: rgba(255, 255, 255, 0.5); }
      .content-plate .content .info-3 .proficiency h1 {
        font-size: 3em; }
      .content-plate .content .info-3 .proficiency p {
        font-size: 2em; }
  .content-plate .content .info-4 {
    display: flex;
    justify-content: center; }
